NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_NAME=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_PDF_UPLOAD_WEBHOOK_URL=
NEXT_PUBLIC_FILE_UPLOAD_SUPABASE_URL=
NEXT_PUBLIC_FILE_UPLOAD_SUPABASE_ANON_KEY=

NEXT_PUBLIC_EXECUTION_DB_URL=
NEXT_PUBLIC_EXECUTION_DB_ANON_KEY=

NEXT_PUBLIC_API_URL=

CALENDLY_ID=
CALENDLY_SECRET=
CALENDLY_WEBHOOK_SIGNING_KEY=
CALENDLY_API_TOKEN=
CALENDLY_USER_URI=
